section h2 {
    margin: 0;
    font-size: 2.5em;
}

@media all and (min-width: 768px) {
    section h2 {
        font-size: 3em;
    }
}

.mobile-off {
	display:none;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

@media all and (min-width:768px) {
	.mobile-only {
		display:none;
	}
	.mobile-off {
		display:block;
	}
}

.myEmail {
	margin-top:7px;
	margin-left:12px;
}

.header-row {
	text-align: center
	color: #fff;
	font-weight:bold;
	font-size:1.5em;
}

.header-row a {
	color:#fff;
	font-weight: normal;
	font-size:0.8em;
}
.header-row a:hover, .header-row a:focus {
	color:#fff;
}

.scale-down-on-mobile {
	font-size: .9em;
}

@media all and (min-width:768px) {
	.scale-down-on-mobile {
		font-size: 1em;
	}
}